# Web API
fastapi
uvicorn[standard]
pydantic
pydantic-settings

# ML
pandas
numpy
matplotlib
scikit-learn
openpyxl
xlrd==1.2.0
torch
transformers
chronos-forecasting

# Bot
python-telegram-bot
python-dotenv
requests