# Основные библиотеки для анализа данных и ML
pandas
numpy
matplotlib
scikit-learn
openpyxl
xlrd==1.2.0
torch
transformers
chronos-forecasting

# Библиотеки для работы бота
python-telegram-bot
python-dotenv
requests